* {
    box-sizing: border-box;
    margin: 0;
}
body, html {
    width: 300px;
    height: 250px;
    background-color: antiquewhite;
}
.banner {
    width: 300px;
    height: 250px;
}

.item_2{
    top: 20px;
    left: 23px;
}
.item_3{
    top: 135px;
    left: 115px;
}
.item_4{
    top: 0px;
    left: 0px;
}
.item_5{
    top: 200px;
    left: 0px;
    z-index: 20;
}
.item_6{
    top: 5px;
    left: 5px;
}
.item_7{
    top: 15px;
    left: 160px;
    height: 200px;
    width: 135px;
    z-index: 15;
}
.item_8{
    top: 135px;
    left: 20px;
    z-index: 33;
}
.item_9{
    top: 40px;
    left: 25px;
}


.absolute{
    position: absolute;
}
.hidden{
    display: none;
}


.scaleOpacity-animation {
    animation: scaleOpacity 2s linear infinite;
}

@keyframes scaleOpacity {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    30% {
        transform: scale(.95);
        opacity: 1;
    }

    80% {
        transform: scale(.98);
        opacity: 1;
    }
}


.zoomOut-animation {
    animation: zoomOut 1s linear forwards;
}

@keyframes zoomOut {

    0%{
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.80);
        opacity: 0;
    }
}


.zoomIn-animation {
    animation: zoomIn 1s linear forwards;
}

@keyframes zoomIn {

    100%{
        transform: scale(1);
        opacity: 1;
    }
    0% {
        transform: scale(.80);
        opacity: 0;
    }
}